<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row">
    <div class="card col p-3 m-2">
        <div class="ui statistic">
            <div class="title">
              Confirmed
            </div>
            <div class="example">
              {{totalConfirmed}}
            </div>
          </div>
    </div>
    <div class="card col p-3 m-2">
        <div class="ui statistic">
            <div class="title">
              Active
            </div>
            <div class="example">
              {{totalActive}}
            </div>
          </div>
    </div>
    <div class="card col p-3 m-2">
        <div class="ui statistic">
            <div class="title">
              Recovered
            </div>
            <div class="example">
              {{totalRecovered}}
            </div>
          </div>
    </div>
    <div class="card col p-3 m-2">
        <div class="ui statistic">
            <div class="title">
              Deaths
            </div>
            <div class="example">
              {{totalDeaths}}
            </div>
          </div>
    </div>
      
</div>